@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

#room-images {
  display: flex;
  list-style: none;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

#room-image {
  flex-shrink: 0;
  width: 100%;
  scroll-snap-align: start;
}
